<div class="background"><%= form_for @user, {url:session_path} do |f| %>
	<div class="login">
		<br><br>
		<h2 class="heading">Login</h2>
		Email: <%= f.text_field :email %>
		Password: <%= f.password_field :password %><br><br>
		<%= f.submit "Sign in" %>
	</div>
<% end %>
</div>