<div class="background"><%= form_for @user, {url:session_path} do |f| %>
	<div class="body">
		Email: <%= f.text_field :email %>
		Password: <%= f.password_field :password %>
		<%= f.submit "Sign in" %>
	</div>
<% end %>
</div>