/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import 'bootstrap';

@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Codystar);

$titlefont: 'Codystar';
$mainfont: 'Raleway';

.navbar {
	font-family: $mainfont, black;
	margin-bottom: 100px;
}

.glyph {
	position: absolute;
	top: 13px;
}

.background {
	background-image: url(apartments.jpg);
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 900px;
    margin-bottom: 0px;
}

.body {
	background-color: rgba(214,179,244, 0.8);
	width: 50%;
	height: 90%;
	border-radius: 25px;
	margin-left: auto;
	margin-right: auto;
}

.login {
	text-align: center;
	display: block;
}

.title {
	font-family: $titlefont, black;
	margin-top: 90px;
	padding-bottom: 10px;
	text-align: center;
	
}

.heading {
	font-family: $titlefont, black;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 10px;
}


.text {
	font-family: $mainfont, black;
	text-align: center;
	// margin-left: 30px;
}

p:hover {
	background-color: rgba(219,217,221, 0.5);
	font-size: 150%;
}

.links {
	display: inline-block;

}